@import "src/styles.scss";
.dflex{
    display: flex;
    flex-direction: row;
}
.flex{
    display: flex;
    flex-direction: row;
}
.image{
    width: 90%;
}
hr{
    color: gray;
}
// .ps-4 {
//     font-size: 14px;
// }

@media screen and (max-width: 991px){
    .dflex{
        display: block;
    }
    .w-50{
        width: 100%!important;
    }
    .image{
        width: 100%;
    }
    .container{
        max-width: 800px;
    }
}
@media screen and (max-width: 991px){
    .container{
        max-width: 0px;
    }
}