
    <div class="dflex pt-5">
        <div class="">
            <img src="assets/images/about-3.svg" class="h-55 pe-4 image"/>
        </div>
        <div class="pt-5">
            <div class="flex">
                <h2 class="fs-2 fw-bold" [style.color]="green">232</h2>
                <p class="ps-4 fw-bold">
                    Happy Clients  &nbsp; 
                    <span class="fw-normal"> consequuntur quae diredo para mesta</span>
                </p>
            </div>
            <hr>
            <div class="flex pt-2">
                <h2 class="fs-2 fw-bold" [style.color]="green">521</h2>
                <p class="ps-4 fw-bold">
                    Projects  &nbsp;
                    <span class="fw-normal">adipisci atque cum quia aut</span>
                </p>
            </div>
            <hr>
            <div class="flex pt-2">
                <h2 class="fs-2 fw-bold" [style.color]="green">453</h2>
                <p class="ps-4 fw-bold">
                    Hours Of Support &nbsp;
                    <span class="fw-normal">aut commodi quaerat</span>
                </p>
            </div>
            <hr>
        </div>
    </div>
