<div *ngIf="registrationForm">
    <div class="pt-4 mb-4" id="card">
      <nav class="navbar navbar-info p-3">
        <div class="container">
          <a class="navbar-brand" href="#">
          </a>
        </div>
        <h6 class="text-center fs-6 text-light mt-2">User Registration Form</h6>
      </nav>
  <mat-card class="cardbot">
    <form class="example-form text-center " [formGroup]="signupForm">
      <div class="row px-3 pt-3">
        <div class="col-xl-6 col-lg-6">
          <mat-label class="label">First Name</mat-label>
           <mat-form-field class="field mt-4" appearance="outline">
           <input matInput type="name" class="placehold" formControlName="firstName">
          </mat-form-field> 
        </div>
        <div class="col-xl-6 col-lg-6">
          <mat-label class="label">Last Name</mat-label> 
          <mat-form-field class="field mt-4" appearance="outline">
          <input type="name" matInput class="placehold" formControlName="lastName">
        </mat-form-field>
      </div>
      </div>
  
      <div class="row px-3">
        <div class="col-sm-12 col-lg-12">
          <mat-label class="label">Mailing Address</mat-label>
          <mat-form-field class="field mt-4" appearance="outline"> 
           <input type="name" matInput class="placehold" placeholder="Street Address" formControlName="address">
          </mat-form-field>
       </div>
      </div>
  
      <div class="row px-3">
        <div class="col-xl-6 col-lg-6">
          <mat-form-field class="field" appearance="outline"> 
           <input type="name" matInput class="placehold" placeholder="City" formControlName="city">
          </mat-form-field>
      </div>
        <div class="col-xl-6 col-lg-6">
          <mat-form-field  class="field" appearance="outline">
            <mat-select class="placehold" placeholder="Country" formControlName="country">
              <mat-option *ngFor="let country of listOfCountries"
              [value]="country.country_code">{{ country.country }}
              </mat-option>
          </mat-select>
          </mat-form-field>
      </div>
      </div>
  
      <div class="row px-3">
        <div class="col-xl-6 col-lg-6">
          <mat-form-field  class="field" appearance="outline">
            <mat-select class="placehold" placeholder="State" formControlName="state" (click)="getStates()">
              <mat-option *ngFor="let state of listOfStates"
              [value]="state.state_code">{{ state.state }}
              </mat-option>
          </mat-select>
          </mat-form-field>
      </div>
        <div class="col-xl-6 col-lg-6">
          <mat-form-field class="field" appearance="outline"> 
            <input type="name" matInput class="placehold" placeholder="Zip Code" formControlName="zipCode">
          </mat-form-field>
      </div>
      </div>
  
      <div class="row px-3">
        <div class="col-xl-6 col-lg-6">
          <mat-label class="label"> Email</mat-label>
          <mat-form-field class="field mt-4" appearance="outline"> 
           <input type="name" matInput class="placehold" formControlName="email">
          </mat-form-field>
      </div>
        <div class="col-xl-6 col-lg-6">
          <mat-label class="label"> Phone Number</mat-label>
          <mat-form-field class="field mt-4" appearance="outline"> 
           <input type="name" matInput class="placehold" formControlName="mobileNumber" (keypress)="messageRemoveEvent()">
          </mat-form-field>
      </div>
      </div>
  
      <div class="row px-3">
        <div class="col-sm-12 col-lg-12">
          <mat-label class="label"> Tag</mat-label>
          <mat-form-field class="field mt-4" appearance="outline"> 
           <input type="name" matInput class="placehold" placeholder="Tag" formControlName="tag">
          </mat-form-field>
       </div>
      </div>
  
      <div class="flex px-3">
        <div class="col-xl-6 col-lg-6">
          <div class="pb-1 captcha pt-2">
            <ngx-recaptcha2 [siteKey]="siteKey" [type]="type" formControlName="captcha"></ngx-recaptcha2>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="mt-2 mb-2" *ngIf="mobileNumberExist">
            <p [style.color]="messageColor">{{mobileNumberAlreadyExistMessage}}</p>
          </div>
          <button class="btn mt-2" mat-raised-button [disabled]="signupForm.invalid" (click)="generateOTP()">GenerateOTP</button>
        </div>
      </div>
     </form>
  </mat-card>
  </div>
  </div>
  
  
  
  
  <!-- password form section -->
  <div *ngIf="otpForm">
    <section class="mt-5 mb-5">
      <div id="second">
        <nav class="navbar navbar-info p-3">
          <div class="container">
            <a class="navbar-brand" href="#">
            </a>
          </div>
          <h4 class="text-light text-center fs-5 mt-2">Register Here</h4>
        </nav>
    <mat-card class="cardbot">
      <form class="example-form text-center" [formGroup]="passwordForm">
        <h6 class="fs-6">OTP has been sent your mobile number and it will be expired in 5 minutes</h6>
        <div class="my-3">
        </div>
        <div class="row px-2  pt-3 pb-2">
          <div class="col-xl-5 col-lg-6">
            <div>
              <i class="bi bi-123" [style.color]="otpIcon"></i>
              <mat-form-field class="field pt-4" appearance="outline">
                <mat-label>OTP</mat-label>
                <input  matInput placeholder="OTP number" formControlName="otp" (keypress)="otpExpiredMethod()">
              </mat-form-field>
            </div>
            <div>
              <i class="bi bi-key" [style.color]="createPasswordIcon"></i>
              <mat-form-field class="field pt-4" appearance="outline">
                <mat-label>Create Password</mat-label>
                <input matInput type="password" placeholder="Create Password"
                  (input)="checkConfirmPassword()" formControlName="createPassword">
              </mat-form-field>
            </div>
            <div>
              <i class="bi bi-key-fill" [style.color]="confirmPasswordIcon"></i>
              <mat-form-field class="field pt-4" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Confirm Password"
                (input)="checkConfirmPassword()" [style.color]="color" formControlName="confirmPassword" >
              </mat-form-field>
            </div>
          </div>
  
          <div class="col-xl-7 col-lg-6">
            <div class="paragraph pt-3 pb-2" *ngIf="regenerateOTPButton">
              <button class="mb-1 otpButton" mat-raised-button (click)="regenerateOTP()">Regenerate OTP</button>
            </div>
    
            <div class="paragraph mt-4">
              <ul>
                <p class="fw-bold">
                  A strong password Should be:
                </p>
                <p class="fw-500">
                  <mat-icon color="primary">done</mat-icon>
                  At least 8 characters long but 14 or more is
                  better.
                  </p>
                <p>
                  <mat-icon color="primary">done</mat-icon>
                  A combination of uppercase letters, lowercase
                  letters, numbers, and symbols.
                  </p>
              </ul>
            </div>
            <div class="paragraph pt-2" *ngIf="message" [style.color]="messageColor">
              <p class="ms-4"> {{responseMessage}}</p>
            </div>
            <div class="rowreg mt-5">
              <div class="left ps-5">
                <button class="mb-3 register" mat-raised-button [disabled]="passwordForm.invalid" (click)="createUser()">Register</button>
              </div>
              <div class="right">
                <button class="mb-3 back" mat-raised-button (click)="backToRegistration()">Back</button>
              </div>
            </div>
          </div>
        </div>
    </form>
    </mat-card>
    </div>
    </section>
    </div>
