<div class="container pt-4 pb-4" id="card">
    <nav class="navbar navbar-info p-3">
      <div class="container">
        <a class="navbar-brand" href="#">
        </a>
      </div>
      <h4 class="text-light text-center fs-6 mt-3">Create New Password</h4>
    </nav>
<mat-card class="cardbot">
  <form class="example-form text-center" [formGroup]="passwordForm">
    <div class="pt-3">
        <mat-label class="label">Old Password</mat-label>
        <mat-form-field class="field mt-4" appearance="outline">
         <input matInput type="name" class="placehold" placeholder="old password" formControlName="oldPassword">
        </mat-form-field> 
    </div>
    <div>
        <mat-label class="label">New Password</mat-label>
        <mat-form-field class="field mt-4" appearance="outline">
         <input type="name" matInput class="placehold" placeholder="new password" formControlName="newPassword">
        </mat-form-field>
    </div>
    <div>
        <mat-label class="label">Confirm New Password</mat-label>
        <mat-form-field class="field mt-4" appearance="outline">
         <input type="name" matInput class="placehold" placeholder="confirm new password" formControlName="confirmNewPassword">
        </mat-form-field>
    </div>

    <button class="btn mb-2" mat-raised-button [disabled]="passwordForm.invalid">Create</button>

   </form>
</mat-card>
</div>
