<!-- <div class="mt-1">
    <a class="navbar-brand" href="#">
        <img src="assets/images/forum.jpg" class="image"/></a>
</div> -->
 <!-- <app-body-card></app-body-card> -->


<div class="flex container-fluid">
  <div class="w-50">
    <div class="banner-1">
      <h2 class="text-white fs-2">Welcome To Smart BU2C</h2>
      <p class="pt-2">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cuque eum quaerat</p>
    </div>
    <div class="row pt-3 banner-1">
      <div class="">
        <button class="button" mat-raised-button>Get Started</button>
      </div>
      <div class="w-25 video">
        <p class="text-white"><i class="bi bi-play-circle pe-2"></i>Watch Video</p>
      </div>
    </div>
  </div>
  <div class="w-50">
    <router-outlet></router-outlet>
  </div>
</div>
<app-banner-card></app-banner-card>

<app-about-us></app-about-us>
