//navbar section
$forum-ff: Verdana, Geneva, Tahoma, sans-serif;
$logoBigText-fs: 16px;
$logoBigText-fw: 500;
$logoSmallText-fw: 14px;
$navLink-fs: 14px;
$navTogBtn-fs: 14px;

//body card section
$cardTxt-p-fs: 14px;
$cardTxt-h6-fs: 18px;

//registration form section
$regFormHeadding-fw: 500;
$regFormLabel-fs: 15px; 
$regFormLabel-fw: 500px; 
$regFormIcon-s: 17px; 
$regFormBtn-fs: 14px; 
$regFormIcon-fs: 23px;
$regFormPTag-fs: 15px; 

//registration confirmation section
$message-fs: 1.2em;
$message-fsw: 400;

//login form section
$loginFormHeadding-fw: 500;
$labelFormLabel-fs: 14px; 
$loginFormIcon-s: 17px; 
$loginFormBtn-fs: 14px;

//footer section
$copyRight-fs: 13px;
$footerPTag-fs: 13px;
$footer-h3-f: bold;
$footer-h3-fs: 18px;
$footer-h5-f: bold;
$footer-h5-fs: 14px;
$footer-ul-fs: 15px;
$footer-social-fs: 20px;

//dashboard section
$sidenavMenus-fs: 14px;
$dashboardNavLogoFont-fs: 14px;
$dashboardNavDropdown-fs: 14px;
$dashboardNavDropdownList-fs: 12px;