//navbar section
$logoBigText-mt: 5%;
$navLink-ms: 62%;
$navToggler-mt: -8%;
$navToggler-me: 4%;
$menuDropdown-t: 72%;
$menuDropdown-l: 70%;

//body card section
$card-mt: 50px;
$cardHover-mt: 50px;
$cardTxt-p-mt: 10px;
$cardTxt-p-mb: 0px;
$cardTxt-h6-mt: 0px;
$cardTxt-h6-mb: 4px;

//business user registration section
$registerBtn-mt: 25%;
$registerBtn-ms: 20%;
$regenerateOTPBtn-me: 0%;

//registration confirmation section
$message-mt: -12%;

//footer section
$footer-mt: -17%;
$footer-h3-mt: 0;
$footer-h3-mb: 12px;
$footer-h5-mt: 0;
$footer-h5-mb: 10px;
$footer-ul-ms: 8px;
$footer-ul-mb: 0px;
$footer-h5Company-ms: 40%;
$footer-map-mb: 36px;
$footer-mapTxt-mb: 0;
$footer-social-m: -1% 0 -2% 0;
$footer-social-a-m: 0 5px;

//dashboard section
$sidenav-ms: -0.5%;
$sidenavMenu-mt: 45%;