//registration form section
$regFormNavHeader-l: 30%;
$regFormBtn-br: 1.5rem;

//registration confirmation section
$message-lh: 25px;

//forgot password section
$firstFormNavHeadding-l: 30%;
$secondFormNavHeadding-l: 40%;

//login form section
$card-b-boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

//login form section
$regForm-b-boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

//body card section
$img-opacity: 0.7;
$card-boxShadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
$cardHover-boxShadow: px 15px 26px rgba(0, 0, 0, 0.50);
$cardTxt-p-LS: 1px;
$cardTxt-h6-LS: 1px;

//footer section
$footer-ul-list-style: none;
$footer-ul-opacity: 0.8;
$footer-ul-a-txtDecoration: none;
$footer-ul-a-opacity: 0.8;
$footer-ul-a-hover-opacity: 0.8;
$footer-mapTxt-opacity: 0.6;
$footer-social-align: center;
$footer-social-boxShadow: 0 0 0 1px rgba(255,255,255,0.4);
$footer-social-a-opacity: 0.75;
$footer-social-a-hoverOpacity: 0.9;

//dashboard section
$dashboardNavCentreSpace: 1 1 auto;