//bannser section
$image-ps: 20%;

//body card section
$cardText-p: 30px 18px;
$cardTxt-p-pb: 0px;

//registration form section
$regForm-ps: 34%;
$regFormHeadding-ps: 40%;
$regFormCard-pe: -15%;
$regFormBtn-p: 2.5%;
$fieldBox-p: 0.8em 0px !important;
$UeregFormHeadding-l: 35%;

//registration confirmation section
$message-p: 0.90em;
$message-pt: 6.5%;

//login form section
$loginFormCard-ps: 37%;
$loginFormNavHeadding-ps: 40%;

//footer section
$footer-padding: 50px 0;
$footer-ul-padding: 0;