//navbar section
$navbarHeight: 8vh;
$logoWidth: 50px;
$navTogglerWidth: 50px;

//banner section
$banner-w: 100%;
$banner-h: 65vh;

//body card section
$cardImgWidth: 100%;
$cardImgHeight: 200px;

//registration form section
$regFormCard-w: 45%;
$regFormField-w: 100%;
$regFormBtn-w: 85%;
$regSecondForm-w: 45%;
$regSecondForm-xl-w: 33%;

//forgot password section
$firstFormCard-w: 25%;

//login form section
$loginFormCard-w: 23%;
$loginFormField-w: 75%;

//footer section
$copyRightHeight: 7vh;
$footer-ul-line-h: 2;
$footer-social-h: 36px;
$footer-social-w: 36px;
$footer-social-lh: 36px;

//dashboard section
$mainContent-h: 732px;
$sidenavMenus-w: 100%;
$dashboardNavLogo-w: 40px;
$dashboardNavProfileImg-w: 30px;