<div class="container">
    <!-- Topic Cards -->
<div id="cards">
<div class="container">
   <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
           <a href="">
               <div class="card-flyer">
                   <div class="text-box">
                       <div class="image-box">
                           <img src="assets/images/deer.jpg" alt="" />
                       </div>
                       <div class="text-container">
                           <h6>Title here</h6>
                           <p>
                               A forum is an online discussion board where people can ask questions, share their 
                               experiences, and discuss topics of mutual interest.
                           </p>
                       </div>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
           <a href="">
               <div class="card-flyer">
                   <div class="text-box">
                       <div class="image-box">
                           <img src="assets/images/parrot.jpg" alt="" />
                       </div>
                       <div class="text-container">                                    
                           <h6>Title here</h6>
                           <p>
                               A forum is an online discussion board where people can ask questions, share their 
                               experiences, and discuss topics of mutual interest.
                           </p>
                       </div>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
           <a href="">
               <div class="card-flyer">
                   <div class="text-box">
                       <div class="image-box">
                           <img src="assets/images/cat.jpg" alt="" />
                       </div>

                       <div class="text-container">
                           <h6>Title here</h6>
                          <p>
                           A forum is an online discussion board where people can ask questions, share their 
                           experiences, and discuss topics of mutual interest.
                          </p>
                       </div>
                   </div>
               </div>
           </a>
       </div>
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
           <a href="">
               <div class="card-flyer">
                   <div class="text-box">
                       <div class="image-box">
                           <img src="assets/images/tiger.jpg" alt="" />
                       </div>
                       <div class="text-container">
                           <h6>Title here</h6>
                          <p>
                           A forum is an online discussion board where people can ask questions, share their 
                           experiences, and discuss topics of mutual interest.
                          </p>
                       </div>
                   </div>
               </div>
           </a>
       </div>
   </div>
</div>
</div>
</div>


