<div class="container-fluid">
    <div class="card-group">
        <div class="card mx-3">
            <a href="" class="text-center icon"><i class="bi bi-easel"></i></a>
            <div class="card-body">
                <a href=""><h5 class="card-title fs-5 fw-bold text-white text-center pt-2">Lorem Ipsem</h5></a>
            </div>
        </div>
        <div class="card mx-3">
            <a href="" class="text-center icon"><i class="bi bi-gem"></i></a>
            <div class="card-body">
                <a href=""><h5 class="card-title fs-5 fw-bold text-white text-center pt-2">Sed Ut Perspiciatis</h5></a>
            </div>
        </div>
        <div class="card mx-3">
            <a href="" class="text-center icon"><i class="bi bi-geo-alt"></i></a>
            <div class="card-body">
                <a href=""><h5 class="card-title fs-5 fw-bold text-white text-center pt-2">Magni Dolores</h5></a>
            </div>
        </div>
        <div class="card mx-3">
            <a href="" class="text-center icon"><i class="bi bi-command"></i></a>
            <div class="card-body">
                <a href=""><h5 class="card-title fs-5 fw-bold text-white text-center pt-2">Nemo Enim</h5></a>
            </div>
        </div>
    </div>
</div>
