<div class="container-fluid mt-5">
  <h3 class="ps-3 fs-4">Customer Records For Month</h3>
  <h6 class="fs-6 ps-3">Customer total records in 1 month</h6>
  <div class="row rows">
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="mt-3">
              <i class="bi bi-pencil card-icons" [style.color]="orange"></i>
            </div>
            <div class="d-block mt-1">
              <div><h4 class="fs-4">18,000</h4></div>
              <div><p class="suggestion">Total Posts</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="mt-3">
              <i
                class="bi bi-chat-left-text card-icons"
                [style.color]="blue"
              ></i>
            </div>
            <div class="d-block mt-1">
              <div><h4 class="fs-4">84,695</h4></div>
              <div><p class="suggestion">Total Comments</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row rows mt-3">
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">$76,456.00</h4></div>
              <div><p class="suggestion">Total Sales</p></div>
            </div>
            <div class="mt-3">
              <i class="bi bi-heart card-icons" [style.color]="green"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">$36,000.00</h4></div>
              <div><p class="suggestion">Total Cost</p></div>
            </div>
            <div class="mt-3">
              <i class="bi bi-wallet2 card-icons" [style.color]="brown"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <h3 class="ps-3 fs-4">Customer Records For Week</h3>
  <h6 class="fs-6 ps-3">Customer total records in 1 week</h6>
  <div class="row rows">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="mt-3">
              <i class="bi bi-pencil card-icons" [style.color]="red"></i>
            </div>
            <div class="d-block mt-1">
              <div><h4 class="fs-4">278</h4></div>
              <div><p class="suggestion">New Posts</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="mt-3">
              <i
                class="bi bi-chat-left-text card-icons"
                [style.color]="yellow"
              ></i>
            </div>
            <div class="d-block mt-1">
              <div><h4 class="fs-4">156</h4></div>
              <div><p class="suggestion">New Comments</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="mt-3">
              <i class="bi bi-bezier card-icons" [style.color]="blue"></i>
            </div>
            <div class="d-block mt-1">
              <div><h4 class="fs-4">64.89%</h4></div>
              <div><p class="suggestion">Bounce Rate</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="mt-3">
              <i class="bi bi-geo-alt card-icons" [style.color]="green"></i>
            </div>
            <div class="d-block mt-1">
              <div><h4 class="fs-4">423</h4></div>
              <div><p class="suggestion">Total visits</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row rows mt-3">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">278</h4></div>
              <div><p class="suggestion">New Projects</p></div>
            </div>
            <div class="mt-3">
              <i
                class="bi bi-rocket-takeoff card-icons"
                [style.color]="orange"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">156</h4></div>
              <div><p class="suggestion">New Clients</p></div>
            </div>
            <div class="mt-3">
              <i class="bi bi-person card-icons" [style.color]="brown"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">64.89%</h4></div>
              <div><p class="suggestion">Conversion Rate</p></div>
            </div>
            <div class="mt-3">
              <i class="bi bi-pie-chart card-icons" [style.color]="yellow"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">423</h4></div>
              <div><p class="suggestion">Support Tickets</p></div>
            </div>
            <div class="mt-3">
              <i class="bi bi-peace card-icons" [style.color]="red"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row rows mt-3">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">278</h4></div>
              <div><p class="suggestion">New Posts</p></div>
            </div>
            <div class="mt-3">
              <i class="bi bi-book card-icons" [style.color]="red"></i>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar bg-info w-75"
              role="progressbar"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">156</h4></div>
              <div><p class="suggestion">New Comments</p></div>
            </div>
            <div class="mt-3">
              <i class="bi bi-chat card-icons" [style.color]="blue"></i>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar bg-warning w-25"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">64.89%</h4></div>
              <div><p class="suggestion">Bounce Rate</p></div>
            </div>
            <div class="mt-3">
              <i class="bi bi-cup-hot card-icons" [style.color]="orange"></i>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar bg-success w-50"
              role="progressbar"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex mx-3">
            <div class="d-block mt-1">
              <div><h4 class="fs-4">423</h4></div>
              <div><p class="suggestion">Total Visits</p></div>
            </div>
            <div class="mt-3">
              <i class="bi bi-signpost card-icons" [style.color]="blue"></i>
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar bg-danger w-50"
              role="progressbar"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
