@import "src/styles.scss"; 

.cardbot{
    box-shadow: $card-b-boxShadow;
}
.navbar-info{
    background-color: #0a7791;
}
.Tittle{
    font-weight: $regFormHeadding-fw;
    position: absolute;
    left: $firstFormNavHeadding-l;
    font: {
        family: $forum-ff;
    }
}
.placehold{
    font: {
        size: $regFormLabel-fs;
        family: $forum-ff;
    }
}
#card{
    width: 70%;
    padding-right: 11%;
}
.field ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.6em 0px !important;
}
.generate{
    color: $regFormBtnColor;
    background-color: #0a7791;
    width: 45%;
}
.captcha {
    transform: scale(0.80);
    -webkit-transform: scale(0.71);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}



.create{
    font-weight: $regFormHeadding-fw;
    position: absolute;
    left: $secondFormNavHeadding-l;
    font: {
        family: $forum-ff;
    }
}
.field{
    width: $regFormField-w;
}
i{
    font: {
        size: $regFormIcon-fs;
    }
    position: absolute;
}
h6{
    font: {
        family: $forum-ff;
    }
}
.register{
    font: {
        family: $forum-ff;
    }
    color: $regFormBtnColor;
    background-color: #0a7791;
}

.gotoLogin{
    font: {
        family: $forum-ff;
    }
    color: $regFormBtnColor;
    background-color: #0a7791;
}
.rowreg{
    margin-top: $registerBtn-mt;
    margin-left: 64%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.otpButton{
    margin-right: $regenerateOTPBtn-me;
    font: {
        family: $forum-ff;
    }
    color: $regFormBtnColor;
    background-color: #0a7791;
}
#second{
    width: 92%;
    padding-right: 20%;
}
p{
    font: {
        size: $regFormPTag-fs;
    }
    text-align: justify;
}

@media screen and (max-width: 1357px){
    .captcha{
        transform: scale(0.68);
        -webkit-transform: scale(0.68);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    #card{
        width: 70%;
    }
    .rowreg{
        display: block;
    }
}
@media screen and (max-width: 1357px){
    #second{
        width: 100%;
    }
}
@media screen and (max-width: 1280px){
    #card{
        width: 80%;
    }
}

@media screen and (max-width: 991px){
    #card{
        margin-left: 28%;
    }
    #second{
        margin-left: 20%;
        padding-right: 16%;
    }
    .rowreg{
        display: flex;
        flex-direction: row;
    }
    .left{
        padding-left: 47%;
    }
}
@media screen and (max-width: 767px){
    #card{
        margin-left: 15%;
        padding-right: 0%;
    }
    #second{
        margin-left: 12%;
    }
    .left{
        padding-left: 40%;
    }
}
@media screen and (max-width: 575px){
    .left{
        padding-left: 20%;
    }
}
@media screen and (max-width: 480px){
    .field{
        width: 100%;
    }
    #card{
        width: 100%;
        margin-left: 5%;
    }
    #second{
        padding-right: 0%;
        margin-left: 5%;
    }
    .rowreg{
        display: block;
        margin-left: 0%;
    }
    .register{
        width: 100%;
    }
    .otpButton{
        width: 100%;
    }
    .gotoLogin{
        width: 100%;
    }
    .left{
        padding-left: 0%;
    }
}