<div *ngIf="firstForm">
    <section class="pt-4 pb-4 mt-1">
        <div class="container" id="card">
            <nav class="navbar navbar-info p-3">
                <div class="container">
                  <a class="navbar-brand" href="#">
                  </a>
                </div>
                <h6 class="text-light fs-6 Tittle mt-2">Create Password</h6>
              </nav>
      <mat-card class="cardbot">
        <form class="example-form text-center" [formGroup]="mobileNumberForm">
            <div class="mx-3">
                    <mat-form-field class="field pt-3 pb-1" appearance="outline">
                      <mat-label>Mobile Number</mat-label>
                      <input  matInput placeholder="Mobile Number" formControlName="mobileNumber">
                    </mat-form-field>
          
                    <div class="col-xl-4 col-lg-6 ">
                      <div class=" pb-2 captcha">
                          <ngx-recaptcha2 [siteKey]="siteKey" [type]="type" formControlName="captcha"></ngx-recaptcha2>
                      </div>
                    </div>
            </div>

            <div class="paragraph pt-2" *ngIf="mobileNumberMeaasge" [style.color]="color">
                <p class="ms-4"> {{mobileNumberAlreadyExistMeaasge}}</p>
              </div>
            
          <button class="ms-2 generate" mat-raised-button [disabled]="mobileNumberForm.invalid" (click)="generateOTP()">Generate OTP</button>
      </form>
      </mat-card>
      </div>
      </section>
    </div>


    <!-- password form section -->
<div *ngIf="secondForm">
    <section class="py-4 mb-3">
      <div id="second">
        <nav class="navbar navbar-info p-3">
          <div class="container">
            <a class="navbar-brand" href="#">
            </a>
          </div>
          <h6 class="text-light fs-6 create mt-2">Create Password</h6>
        </nav>
    <mat-card class="cardbot">
      <form class="example-form text-center" [formGroup]="passwordForm">
        <h6 class="fs-6">OTP has been sent your mobile number and it will be expired in 5 minutes</h6>
        <div class="my-3">
        </div>
        <div class="row px-2  pt-3 pb-2">
          <div class="col-xl-5 col-lg-6">
            <div>
              <i class="bi bi-123" [style.color]="otpIcon"></i>
              <mat-form-field class="field pt-4" appearance="outline">
                <mat-label>OTP</mat-label>
                <input  matInput placeholder="OTP number" formControlName="otp" (keypress)="otpExpiredEvent()">
              </mat-form-field>
            </div>
            <div>
              <i class="bi bi-key" [style.color]="createPasswordIcon"></i>
              <mat-form-field class="field pt-4" appearance="outline">
                <mat-label>Create Password</mat-label>
                <input matInput type="password" placeholder="Create Password"
                  (input)="checkConfirmPassword()" formControlName="createPassword">
              </mat-form-field>
            </div>
            <div>
              <i class="bi bi-key-fill" [style.color]="confirmPasswordIcon"></i>
              <mat-form-field class="field pt-4" appearance="outline"> 
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Confirm Password"
                 (input)="checkConfirmPassword()" formControlName="confirmPassword" [style.color]="color">
              </mat-form-field>
            </div>
          </div>
  
          <div class="col-xl-7 col-lg-6">
            <div class="paragraph pt-4 pb-2" *ngIf="regenerateOtpButton">
              <button class="mb-1 otpButton" mat-raised-button (click)="regenerateOTP()">Regenerate OTP</button>
            </div>
    
            <div class="paragraph pt-4">
              <ul>
                <p class="fw-bold">
                  A strong password Should be:
                </p>
                <p class="fw-500">
                  <mat-icon color="primary">done</mat-icon>
                  At least 8 characters long but 14 or more is
                  better.
                  </p>
                <p>
                  <mat-icon color="primary">done</mat-icon>
                  A combination of uppercase letters, lowercase
                  letters, numbers, and symbols.
                  </p>
              </ul>
            </div>
            <div class="paragraph pt-2" *ngIf="message" [style.color]="messageColor">
              <p class="ms-4"> {{responseMessage}}</p>
            </div>

            <div class="rowreg mt-5">
              <div class="left">
                <button class="mb-3 register" mat-raised-button [disabled]="passwordForm.invalid" (click)="createPassword()">Create</button>
              </div>
            </div>
          </div>
        </div>
    </form>
    </mat-card>
    </div>
    </section>
    </div>
