@import "src/styles.scss"; 

.dialog-headline {
    font-weight: $message-fs;
    overflow: hidden;
    margin-top: $message-mt;
    padding: $message-p;
    text-align: center;
    font-size: $message-fs;
    background-color: #0a7791;
    color: $messageColor;
    pointer-events: none;
    padding-top: $message-pt;
    line-height: $message-lh;
}
  
::ng-deep .mat-dialog-container {
    overflow: hidden !important;
}
  
.confirm-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
.mat-focus-indicator{
    color: $white;
    background-color: #0a7791;
}